/* Standar Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Debug */

.block {
    display: block;
}

/* Flex */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* Preset */

.white-text {
    color: white;
}

.orange-background {
    background-color: #ff6900;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.max-widith {
    width: 80%;
}

.spacing {
    margin: 0 auto;
}

.standard-padding {
    padding: 1rem 0;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
    z-index: -1;
}

/* Header */

header {
    width: 100%;
}

nav a {
    color: white;
    padding-right: 0.75rem;
}

#logo {
    height: 2rem;
}

.third-of {
    width: calc(100% / 3);
}

nav i {
    padding-left: 0.75rem;
}

/* Main */

main {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

main img{
    max-width: 500px;
}

.show {
    z-index: 1;
}

.show:hover {
    display: none;
}