/* Standar Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Debug */

.block {
    display: block;
}

/* Flex */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex {display: flex;}

.fw-wrap {flex-wrap: wrap;}

.fd-column {flex-direction: column;}

.gap-1 {gap: 1rem;}

.gap-05 {gap: 0.5rem;}

.gap-025 {gap: 0.25rem;}

/* Background */

.orange-background {background-color: #ff6900;}

.bg-green {background-color: green;}

.bg-red {background-color: red;}

.bg-white {background-color: white;}

.bg-black {background-color: black;}

/* Padding */

.p-025 {padding: 0.25rem;}

.p-05 {padding: 0.5rem;}

/* Dimension */

.width {width: 100%;}

/* Preset */

.white-text {
    color: white;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.max-widith {
    width: 75%;;
}

.spacing {
    margin: 0 auto;
}

.standard-padding {
    padding: 1rem 0;
}

.fixed {
    position: fixed;
    z-index: 99;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bottom {bottom: 0;}

/* Header */

header {
    width: 100%;
}

nav a {
    color: white;
    padding-right: 0.75rem;
}

#logo {
    height: 2rem;
}

.third-of {
    width: calc(100% / 3);
}

nav i {
    padding-left: 0.75rem;
}

/* Main */

main {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

main img{
    max-width: 350px;
}

.heart {
    top: 2%;
    right: 0;
}

.heart:hover {
    color: red;
}

.text-absolute {
    bottom: 5%;
    left: 0;
}

.new {
    color: red;
    font-weight: 600;
}

.old {text-decoration: line-through;}

/* Cards */

.card img:hover {opacity: 0;}

#card1 {
    background-image: url(../img/1b.webp);
    background-size: contain;
}

#card2 {
    background-image: url(../img/2b.webp);
    background-size: contain;
}

#card3 {
    background-image: url(../img/3b.webp);
    background-size: contain;
}

#card4 {
    background-image: url(../img/4b.webp);
    background-size: contain;
}

#card5 {
    background-image: url(../img/5b.webp);
    background-size: contain;
}

#card6 {
    background-image: url(../img/6b.webp);
    background-size: contain;
}

/* Footer */

footer a {color: white;}